audioread==3.0.1
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1725551672989/work/certifi
cffi==1.17.1
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
decorator==5.1.1
ffmpeg-python==0.2.0
filelock @ file:///work/perseverance-python-buildout/croot/filelock_1701733993137/work
fsspec==2024.10.0
future==1.0.0
huggingface-hub==0.26.2
idna @ file:///croot/idna_1714398848350/work
Jinja2 @ file:///croot/jinja2_1716993405101/work
joblib==1.4.2
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
MarkupSafe @ file:///work/perseverance-python-buildout/croot/markupsafe_1707342994941/work
mkl-service==2.4.0
mkl_fft @ file:///croot/mkl_fft_1725370245198/work
mkl_random @ file:///croot/mkl_random_1725370241878/work
mpmath @ file:///work/perseverance-python-buildout/croot/mpmath_1698864994882/work
msgpack==1.1.0
networkx @ file:///croot/networkx_1717597493534/work
numba==0.60.0
numpy==2.0.2
packaging==24.2
pandas==2.2.3
pillow @ file:///croot/pillow_1721059439630/work
platformdirs==4.3.6
pooch==1.8.2
pycparser==2.22
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
python-dateutil==2.9.0.post0
pytube==15.0.0
pytubefix==8.4.0
pytz==2024.2
PyYAML @ file:///croot/pyyaml_1728657952215/work
requests @ file:///croot/requests_1721410876868/work
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
setuptools==72.1.0
six==1.16.0
soundfile==0.12.1
soxr==0.5.0.post1
sympy==1.13.1
threadpoolctl==3.5.0
timm==1.0.11
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.0
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata==2024.2
urllib3 @ file:///croot/urllib3_1727769808118/work
wheel==0.44.0
yt-dlp==2024.11.4
